<!-- foooter section -->
<footer class="footer font-light">

    <div class="footer-top py-10 bg-gray-700 text-white">
      <div class="container lg:grid lg:grid-cols-3 lg:gap-8">

        <div class="pb-8 lg:col-span-1">

          <a href="/">
            <h2 class="mb-5 text-3xl font-semibold">College Cart</h2>
          </a>

          <p class="mb-5">
            It was popularised in the 1960s with the release of Letraset sheets containing Lorem passages and more
            recently with
            desktop publishing software like including.
          </p>

          <ul class="social-list flex gap-4 text-xl items-center">

            <li>
              <a href="#" class="hover:text-yellow-500 transition">
                <ion-icon name="logo-facebook" class="block"></ion-icon>
              </a>

            <li>
              <a href="#" class="hover:text-yellow-500 transition">
                <ion-icon name="logo-twitter" class="block"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="hover:text-yellow-500 transition">
                <ion-icon name="logo-skype" class="block"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="hover:text-yellow-500 transition">
                <ion-icon name="logo-linkedin" class="block"></ion-icon>
              </a>
            </li>

          </ul>

        </div>

        <div class="sm:grid sm:grid-cols-2 sm:gap-8 lg:col-span-1">
          <ul class="pb-8 sm:col-span-1">
  
            <li class="mb-3 text-2xl font-normal">
              <p class="footer-list-title">Account</p>
            </li>
  
            <li class="mb-2">
              <a class="hover:text-yellow-500 transition" href="/">Home</a>
            </li>

            <li class="mb-2">
              <a class="hover:text-yellow-500 transition" href="/">Products</a>
            </li>
  
            <li class="mb-2">
              <a class="hover:text-yellow-500 transition" href="/">My Account</a>
            </li>
  
            <li class="mb-2">
              <a class="hover:text-yellow-500 transition" href="/orders">My Orders</a>
            </li>
  
          </ul>

          <ul class="pb-8 sm:col-span-1">
  
            <li class="mb-3 text-2xl font-normal">
              <p class="footer-list-title">Company</p>
            </li>
  
            <li class="mb-2">
              <a class="hover:text-yellow-500 transition" href="/about">About Us</a>
            </li>
  
            <li class="mb-2">
              <a class="hover:text-yellow-500 transition" href="/contact">Contact Us</a>
            </li>
  
            <li class="mb-2">
              <a class="hover:text-yellow-500 transition" href="/refund-policy">Refund Policy</a>
            </li>
            
            <li class="mb-2">
              <a class="hover:text-yellow-500 transition" href="/help">Help & Support</a>
            </li>

            <li class="mb-2">
              <a class="hover:text-yellow-500 transition" href="/terms">Terms & Condition</a>
            </li>
  
          </ul>
        </div>

        <ul class="">

          <li class="mb-3 text-2xl font-normal">
            <p class="footer-list-title">Contact</p>
          </li>

          <li class="mb-2 gap-2 flex items-center">
            <div class="contact-icon">
              <ion-icon name="location-outline" class="block"></ion-icon>
            </div>

            <address class="contact-link">
              KIST College, Techno-Park, Jatni, BBSR, Odisha - 752050
            </address>
          </li>

          <li class="mb-2 gap-2 flex items-center">
            <div class="contact-icon">
              <ion-icon name="call-outline" class="block"></ion-icon>
            </div>

            <a href="tel:+916206864101" class="hover:text-yellow-500 transition">+91 62068 64101</a>
          </li>

          <li class="mb-2 gap-2 flex items-center">
            <div class="contact-icon">
              <ion-icon name="mail-outline" class="block"></ion-icon>
            </div>

            <a href="mailto:afzalimamias@gmail.com" class="hover:text-yellow-500 transition">afzalimamias@gmail.com</a>
          </li>

        </ul>

      </div>
    </div>

    <div class="footer-bottom py-4 bg-gray-900 text-white">
      <div class="container md:flex text-center justify-between">

        <p class="copyright">
          &copy; 2022 <a href="#" class="copyright-link text-yellow-500 hover:text-yellow-600">KISTcart</a>. All Rights Reserved.
        </p>

        <p class="copyright">
          Designed and Developed by <a href="https://github.com/afzalimamias" class="copyright-link text-yellow-500 hover:text-yellow-600">Afzal Imam</a>
        </p>

      </div>
    </div>

</footer>
<!-- foooter section end -->

<!-- back to top -->
<a href="#top" class="back-to-top fixed bottom-3 right-5 font-roboto text-xl bg-primary hover:bg-hover p-2 rounded-full text-white transition invisible opacity-0">
    <ion-icon name="arrow-up-outline" class="block"></ion-icon>
</a>
<!-- back to top end -->